.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*************************/
/*********IMAGES**********/
/*************************/
#lupa {
  width: 20%;
  /* border: royalblue dotted 2px; */
}
#logo {
  position: relative;
  /* border: red dotted 1px; */
  width: 60%; 
}
#cart {
  width: 25%;
}

/************************/
/********FLEXBOX*********/
/************************/
#navBarMainContainer {
  width: auto;
  margin: 10px;
  display: flex;
  /* border: red dotted 1px; */
  flex-direction: row;
  justify-content: space-evenly;
}
#searchBarForm{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
#searchBarContainer {
  margin: 5px 50px 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: red dotted 2px; */
  flex-direction: row;
}
#headContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  /* border: red dotted 1px; */
}

#navBarContainer {
  /* border: blueviolet dotted 1px; */
  position: relative;
  left: -40px;
  display: flex;
  padding: 10px;
  margin: 10px;
  width: 35%;
}

#shopNav, #aboutNav, #contactNav {
  margin: 0px 10px 0px 10px;
  text-transform: uppercase;
}
#navBarMainContainer span {
  text-transform: uppercase;
  margin: 0px 10px 0px 10px;
}